
#contenedor {
    display: flex;
    flex-direction: row;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0.3em;
    width: 10em;
    height: 10em;
    background-color: coral;

}

.box-number{
    color: white;
    font-size: 2em;
}